@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

li{
    list-style-type: none;
}

header{
    background-color: #cd9ee4;
    padding: 15px;
}

body{
    background-color: #f3e0ec ;
    color: #000;
    font-family: Quicksand;
    font-weight: 600;
    font-size: 18px;
    text-align: justify;
}

.name{
    font-family: Shrikhand;
    font-size: 55px ;
    font-weight:bolder;
    text-align: left;
    color: #685f74;
}

h1{
    font-family: Shrikhand;
    font-size: 50px ;
    font-weight:bolder;
    text-align: center;
    color: #685f74;
}

h2{
    font-family: Shrikhand;
    font-size: 30px ;
    font-weight:bolder;
    text-align: left;
    color: #685f74;
}

h3{
    font-family: Shrikhand;
    font-size: 20px ;
    font-weight:bolder;
    text-align: center;
    color: #685f74;
}

.publicidad{
    text-align: right;
}

header div img{
    height: 28px;
}

aside{
    text-align: right;
}



footer{
    background-color: #cd9ee4;
    font-size: small;
    width: 100%;
}

footer img{
    text-align: left;
}

footer div{
    text-align: center ;
    line-height: 20px;
}